<%= simple_form_for @problem, :html => { :class => "form-horizontal" } do |form| %>
  <fieldset>
    <legend><%= @problem.id ? "Edit Problem" : "Add New Problem" %></legend>
    <%= form.input :source, :collection => OJ::SourceList, :disabled => @problem.id != nil %>
    <%= form.input :original_id, :label => "ID", :disabled => @problem.id != nil %>
    <%- # level -1 for hiding unused problems -%>
    <%= form.input :level, :collection => -1..get_max_level %>
  </fieldset>
  <div class="form-actions">
      <%= form.submit @problem.id ? "Update" : "Create", :class => "btn btn-primary" %>
      <%= link_to "Back", :back, :class => "btn btn-danger pull-right" %>
  </div>
<% end %>
