<h2>Add New Problem</h2>
<%= simple_form_for @problem, :html => { :class => "form-horizontal" } do |form| %>
  <fieldset>
    <%= form.input :source, :collection => source_list %>
    <%= form.input :original_id, :label => "ID" %>
    <%= form.input :level, :collection => 0..Integer(ENV['MAX_LEVEL']) %>

    <%= form.submit %>
    <%= submit_tag "Cancel", :type => :reset %>
  </fieldset>
<% end %>
