<% content_for :title do %>
  <% @problem.title %>
<% end %>
<center><h2><%= @problem.title %></h2></center>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>
        <strong>Source</strong>
      </td>
      <td class="text-info">
        <%= "#{@problem.source} #{@problem.original_id}" %>
      </td>
      <td>
        <strong>EXP.</strong>
      </td>
      <td class="text-success">
        <strong><%= @problem.exp %></strong>
      </td>
      <td>
        <strong>Time Limit</strong>
      </td>
      <td class="text-warning">
        <%= @problem.time_limit %>MS
      </td>
      <td>
        <strong>Memory Limit</strong>
      </td>
      <td class="text-warning">
        <%= @problem.memory_limit %>KB
      </td>
    </tr>
  </tbody>
</table>
<h3 class="segtitle">Description</h3>
<%= @problem.description.html_safe %>
<h3 class="segtitle">Input</h3>
<%= @problem.input.html_safe %>
<h3 class="segtitle">Output</h3>
<%= @problem.output.html_safe %>
<h3 class="segtitle">Sample Input</h3>
<pre><%= @problem.sample_input %></pre>
<h3 class="segtitle">Sample Output</h3>
<pre><%= @problem.sample_output %></pre>
<% if @problem.hint %>
  <h3 class="segtitle">Hint</h3>
  <%= @problem.hint.html_safe %>
<% end %>

<div class="form-actions">
  <center>
    <a href="#submitBox" role="button" class="btn btn-primary" data-toggle="modal">Submit</a>
  </center>
</div>

<div id="submitBox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="submitLabel" aria-hidden="true">
<%= simple_form_for [@problem, @submission], :html => {:style => "margin:0px"} do |form| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="submitLabel">Submit your code</h3>
  </div>
  <div class="modal-body">
      <fieldset>
        <%= form.input :language, :as => :radio_buttons, :item_wrapper_class => "inline", :collection => OJ.language_collection(@problem), :selected => session[:lang] %>
        <%= form.input :code, :input_html => { :style => "width:96%", :rows => 10} %>
      </fieldset>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= form.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
