<% content_for :title do %>
  <% "Rankings" %>
<% end %>
<%= simple_form_for :rankings, :html => { :class => "form-inline pull-right", :style => "margin:1em 0 0 0" }, :method => "post" do |form| %>
  <%= form.input :toggle_finished, :label => false, :inline_label => "show finished", :as => :boolean, :input_html => { :onchange => "form.submit()", :checked => session[:rankings] == 1 } %>
<% end %>
<h2>Rankings</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="span1">Rank</th>
      <th>Handle</th>
      <th class="span1">Exp.</th>
      <th class="span1">Submitted</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, rank| %>
      <tr>
        <td><center><strong><%= (@current_page - 1) * 10 + rank + 1 %></strong></center></td>
        <td><%= link_to user.handle, user_path(user) %></td>
        <td><center><%= user.exp %></center></td>
        <td><center><%= link_to @submitted[user], user_submissions_path(user) %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>
<ul class="pager">
  <% if @current_page > 1 %>
    <li class="previous">
    <a href="<%= "?page=#{@current_page - 1}" %>">&larr; Previous</a>
    </li>
  <% end %>
  <% unless @users.empty? %>
    <li class="next">
    <a href="<%= "?page=#{@current_page + 1}" %>">Next &rarr;</a>
    </li>
  <% end %>
</ul>
