<% content_for :title do %>
  <% @user.handle %>
<% end %>
<h3>User Profile</h3>
<dl class="dl-horizontal">
  <dt>Handle</dt>
  <dd><%= @user.handle %></dd>
  <dt>Level</dt>
  <dd><%= @user.level %></dd>
  <dt>EXP.</dt>
  <dd><%= @user.exp %></dd>
  <% unless @user.school.blank? %>
    <dt>School</dt>
    <dd><%= @user.school %></dd>
  <% end %>
  <dt>Solved</dt>
  <dd>
  <% if @solved.count == 0 %>
    <span class="label label-success">
      <%= @solved.count %>
    </span>
  <% else %>
    <%= link_to @solved.count, "#solved", :class => "label label-success", :data => { :toggle => "collapse" } %>
    <div id="solved" class="collapse">
      <ul class="inline well well-small">
        <% @solved.each do |id| %>
          <li>
          <%= link_to id, problem_path(id) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </dd>
  <dt>Failed</dt>
  <dd>
  <% if @failed.count == 0 %>
    <span class="label label-warning">
      <%= @failed.count %>
    </span>
  <% else %>
    <%= link_to @failed.count, "#failed", :class => "label label-warning", :data => { :toggle => "collapse" } %>
    <div id="failed" class="collapse">
      <ul class="inline well well-small">
        <% @failed.each do |id| %>
          <li>
          <%= link_to id, problem_path(id) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <dt>Submitted</dt>
  <dd>
  <% if @submitted.count == 0 %>
    <span class="label label-info">
      <%= @submitted.count %>
    </span>
  <% else %>
    <%= link_to @submitted.count, user_submissions_path(@user), :class => "label label-info" %>
  <% end %>
  </dd>
  <dt>Member Since</dt>
  <dd><%= @user.created_at.localtime.to_s(:rfc822) %></dd>
  <dt>Last Login</dt>
  <dd><%= @user.last_sign_in_at.localtime.to_s(:rfc822) %></dd>
</dl>
