<h1>Submission List</h1>
<ul>
  <% languages = language_list.invert %>
  <% statuses = status_list.invert %>
  <% @submissions.each do |submission| %>
    <li>
    <%= submission.id %>
    <%= submission.problem_id %>
    <%= languages[submission.language] %>
    <%= statuses[submission.status] %>
    <%= submission.time %>
    <%= submission.memory %>
    <%= submission.created_at %>
    </li>
  <% end %>
</ul>
