<h1>Submission List</h1>
<ul>
  <% @submissions.each do |submission| %>
    <li>
    <%= submission.id %>
    <%= submission.problem_id %>
    <%= language_list.invert[submission.language] %>
    <%= status_list[submission.status] %>
    <%= submission.time %>
    <%= submission.memory %>
    <%= submission.created_at %>
    </li>
  <% end %>
</ul>
