<% content_for :title do %>
  <% "Submissions" %>
<% end %>
<h2>Submissions</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Handle</th>
      <th>Problem</th>
      <th>Status</th>
      <th>Language</th>
      <th>Submit Time</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><strong>
            <% if user_signed_in? && (current_user.has_role?(:admin) || submission.user_id == current_user.id) %>
              <%= link_to submission.id, submission_path(submission) %>
            <% else %>
              <%= submission.id %>
            <% end %>
        </strong></td>
        <td><%= link_to submission.user.handle, user_path(submission.user) %></td>
        <td>
          <div class="problem-label">
            <%= link_to submission.problem.level, "#{problems_path}?level=#{submission.problem.level}", :class => "label label-info" %>
            :
            <%= link_to submission.problem_id, problem_path(submission.problem_id), :class => "label label-success" %>
          </div>
        </td>
        <td>
          <% if user_signed_in? && (current_user.has_role?(:admin) || submission.user_id == current_user.id) && OJ::StatusIDToSym[submission.status] == :ce %>
            <%= link_to OJ::StatusIDToName[submission.status], submission_path(submission), :class => "btn btn-warning btn-mini" %>
          <% else %>
            <span class="label label-<%= get_submission_status(OJ::StatusIDToSym[submission.status]) %>">
              <%= OJ::StatusIDToName[submission.status] %>
            </span>
          <% end %>
        </td>
        <td>
          <% language = OJ::LangIDToName[submission.language] %>
          <% if user_signed_in? && (current_user.has_role?(:admin) || submission.user_id == current_user.id) %>
            <%= link_to language, submission_path(submission) %>
          <% else %>
            <%= language %>
          <% end %>
        </td>
        <td><%= submission.created_at.localtime.to_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<ul class="pager">
  <% if @current_page > 1 %>
    <li class="previous">
    <a href="<%= "?page=#{@current_page - 1}" %>">&larr; Previous</a>
    </li>
  <% end %>
  <% unless @submissions.empty? %>
    <li class="next">
    <a href="<%= "?page=#{@current_page + 1}" %>">Next &rarr;</a>
    </li>
  <% end %>
</ul>
