<% content_for :title do %>
  <% "Submit Problem #{@problem.id}" %>
<% end %>
<%= simple_form_for [@problem, @submission] do |form| %>
  <fieldset>
    <legend>Submit Problem <%= @problem.id %></legend>
    <%= form.input :language, :collection => language_list %>
    <%= form.input :code, :input_html => { :class => "span8" } %>
  </fieldset>
  <div class="form-actions">
    <%= form.submit "Submit", :class => "btn btn-primary" %>
    <%= link_to "Back", :back, :class => "btn btn-danger pull-right" %>
  </div>
<% end %>

