<% content_for :title do %>
  <% "Submission Detail" %>
<% end %>
<h2>Submission Detail</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Problem</th>
      <th>Status</th>
      <th>Language</th>
      <th>Submit Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @submission.id %></td>
      <td><%= link_to @submission.user.handle, user_path(@submission.user) %></td>
      <td>
        <div class="problem-label">
          <%= link_to @submission.problem.level, "#{problems_path}?level=#{@submission.problem.level}", :class => "label label-info" %>
          :
          <%= link_to @submission.problem_id, problem_path(@submission.problem_id), :class => "label label-success" %>
        </div>
      </td>
      <td>
        <% status = OJ::StatusIDToName[@submission.status] %>
        <span class="label label-<%= get_submission_status(status) %>">
          <%= status %>
        </span>
      </td>
      <td><%= OJ::LangIDToName[@submission.language] %></td>
      <td><%= @submission.created_at.localtime.to_s(:db) %></td>
    </tr>
  </tbody>
</table>
<% if status == "Compile Error" %>
 <pre><%= @submission.error.html_safe %></pre>
<% end %>
<%= CodeRay.scan(@submission.code, OJ::LangIDToSym[@submission.language]).div.html_safe %>
