<% content_for :title do %>
  <% "Submission Detail" %>
<% end %>
<h2>Submission Detail</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Problem</th>
      <th>Status</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Language</th>
      <th>Submit Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @submission.id %></td>
      <td><%= link_to @submission.user.handle, user_path(@submission.user) %></td>
      <td><center><%= link_to @submission.problem_id, problem_path(@submission.problem_id) %></center></td>
      <td>
        <% status = status_list.invert[@submission.status] %>
        <span class="label label-<%= get_submission_status(status) %>">
          <%= status %>
        </span>
      </td>
      <td><%= "#{@submission.time}ms" if @submission.time %></td>
      <td><%= "#{@submission.memory}KB" if @submission.memory %></td>
      <td><%= language_list.invert[@submission.language] %></td>
      <td><%= @submission.created_at.localtime.to_s(:db) %></td>
    </tr>
  </tbody>
</table>
<% if status == "Compile Error" %>
 <pre><%= @submission.error.html_safe %></pre>
<% end %>
<%= CodeRay.scan(@submission.code, language_symbol[language_list.invert[@submission.language]]).div.html_safe %>
