<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ACM Ladder" %></title>
    <meta name="description" content="A level-based ACM-ICPC training site.">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="wrapper span6 offset3">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <div class="row">
            <footer id="footer" class="span6 offset3">
            <div class="pull-right">
              <%= ENV['FOOTER'].html_safe %>
            </div>
            </footer>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
